@model NumberGuessingGame.ViewModels.HomeIndexViewModel

@{
    ViewBag.Title = "Secret number application";
}

<h2>Secret number application</h2>
@using (Html.BeginForm())
{ 
    <p>Gissa ett tal mellan 1 och 100:</p>

    @Html.ValidationSummary("HÄR STÄMMMER DÄÄHÄÄÄÄHHÄ INTÄÄÄ");
    @Html.EditorFor(m => m.MyGuess)
  // @Html.DropDownListFor(m => m.secretNumber.LastGuessedNumber, Model.OutcomeText)
   <input type="submit" value="Gissa" />
    @Html.DisplayTextFor(m=>m.GuessOutcome);

}

@section scripts 
{
    <script>
        $(function() {
            $("#guess").focus();
        });
    </script>
}